/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #dedcdc;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #3d3c3c;  
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
  line-height: 1.5em;
  color: var(--texto);
  transition: background-color .6s, color .6s ;
}
header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
#menu  ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.4s;
}
#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main{
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  margin-top: 8px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 50px;
  margin-bottom: 10px;

  border-radius: 8px;
  grid-column: 2;
}
section#ficha img.foto { /*Ajuste da foto de perfil*/
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
/*---------------------------------------------*/

section#ficha h1 {
  color: var(--destaque); 
  margin: 15px 0px;
  font-size: 1.6em; 
  text-align: center;  
}
div#social {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.7em;
  gap: 1em;
  margin-top: 15px;
}
div#social a {
  color: var(--destaque);
  transition: 0.4s;
}
div#social a:hover {
  background-color: var(--destaque-inverso);
  border-radius: 7px;
  color: var(--fundo-principal);
  padding: 2.5px;
}
section#skills {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}
section#detalhes {
  grid-column: 2; 
}
article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}
article h2 {
  color: var(--destaque); 
  margin: 5px 0px;
  padding-bottom: 5px;
  font-size: 1.3em; 
  text-align: left; 
}
/*----------------------------------------------*/

#skill-container { /*Ajuste das skills para ficar com uma coluna e dar espaçamentos*/
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 25px;
}
#skill-container .info { /*Ajustando nome no começo e porcentagem no final*/
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#skill-container .nome { 
  font-weight: bolder;
  color: var(--texto);
}
#skill-container .porcent {
  font-weight: bolder;
  color: var(--destaque);
}
#skill-container .barra { /*Ajustanto o fundo da barra de porcentagem*/
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}
#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque);
  border-radius: 4px;
}

/*----------------------------------------------*/

#formacao-container { /*Ajuste sobre os Estudos*/
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}
#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 8px solid var(--destaque-inverso);
  padding-left: 5px;
  transition: border-width 0.5s, border-color 0.8s;
}
#formacao-container .curso:hover {
  border-left-width: 18px;
  border-color: var(--destaque);
  cursor: pointer;
}
#formacao-container .periodo {
  font-size: 0.9em;
  font-weight: bold;
}
#formacao-container .instituicao {
  color: var(--destaque-inverso);
}
/*----------------------------------------------*/

#projeto-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#projeto-container .projetos {
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-principal);
  padding: 15px;
  border-radius: 8px;
}
#projeto-container .foto {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 10px;
}
#projeto-container .titulo {
  padding: 5px 0px;
  color: var(--destaque);
}
#projeto-container .descricao:hover {
  cursor: pointer;
}
#projeto-container .link-projetos {
  color: var(--destaque-inverso);
  
  
}
/*----------------------------------------------*/

article#video .video-container{ /*Ajuste do video*/
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}
.video-container iframe { /*ajuste do video para ficar centralizado */
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
/*----------------------------------------------*/

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--destaque);
  color: var(--texto-inverso);
}
/*----------------------------------------------*/

@media screen and (min-width: 700px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
    grid-auto-flow: column;
    gap: 8px;
  }

  section#ficha {
    grid-column: 2/3;  
    height: fit-content;
    position: sticky;
    top: 53px;
  }

  section#detalhes {
    grid-column: 3/4; 
  }
  

  #projeto-container .projetos {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .info{
    max-width: 60%;
  }

  #projeto-container .foto {
    max-width: 30%;
    aspect-ratio: 9/16;
    max-height: 200px;
  }
}